/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 3em 0;
}

header p {
    font-size: 1.2em;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2c3e50;
    padding: 1em 0;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 1em;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #3498db;
}

section {
    text-align: center;
    padding: 2em;
}

.about-section,
.activities-section,
.contact-section {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 2em 0;
}

.about-section h2,
.gallery-section h2,
.activities-section h2,
.contact-section h2 {
    font-size: 3em;
    margin-bottom: 1em;
}

.about-section p,
.contact-section p {
    font-size: 1.5em;
    margin-bottom: 2em;
}

.gallery-section .image-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-section img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 1em;
}

.activities-section ul {
    list-style: none;
    padding: 0;
}

.activities-section li {
    font-size: 1.5em;
    margin: 1em 0;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section form input,
.contact-section form textarea {
    padding: 1em;
    font-size: 1.2em;
    margin: 1em 0;
    border: none;
    border-radius: 5px;
}

.contact-section form button {
    background-color: #e74c3c;
    color: #fff;
    padding: 1.5em 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-section form button:hover {
    background-color: #c0392b;
}

footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 2em 0;
}
